@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #444;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*::-webkit-scrollbar-track {
  background: #ccc;
}

#gui {
  position: absolute;
  top: 58px;
  right: 2px;
}
